<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GuessTheWord</title>
</head>
<body>
<h1 style="text-align:center">Guess the word</h1>
<h2 style="text-align:center" th:text="${wordToDisplay}">show a random word here</h2>
<hr/>
<div style="text-align:center">
    <form action="game-home" method="GET">
       <label>Guess a Char:</label>
       <input type="text" name="guessedChar"/>
       <input type="submit" value="try">
    </form>
</div>
</body>
</html>